.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
  text-align: center;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

/* cara menghilagkan padding biar rapih*/
#Gallery .row > * {
  padding: 0;
}